.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: contain;
  text-align: center;
  position: fixed;

  /* center horizontally on larger screens */
  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  /* center horizontally on smaller screens */
  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }
}

.input-label-signup {
  width: max-content;
  height: max-content;
  font-style: normal;
  font-weight: 350;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: #ccc0cb;
}

.input-field-signup {
  width: 426.61px;
  height: 38.13px;
  left: 881px;
  top: 10%;
  background: #e7e7e7;
  border: #e7e7e7;
  color: #4a494d;
}

.signup-form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-fields-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.field-firstname,
.field-lastname,
.field-email,
.field-password,
.field-confirm-password {
  width: 100%;
}

.ant-form-item-label label {
  font-size: 24px;
  color: #ccc0cb;
}

.page-footer {
  position: absolute;
  width: 100%;
  height: 114px;
  bottom: 0;
  background: #110a1c;
}

.footer-logo {
  position: absolute;
  right: 0;
  padding-right: 1%;
}

.signup-background {
  background: linear-gradient(
    63.6deg,
    rgba(17, 10, 28, 0.85) 0%,
    rgba(17, 10, 28, 0.796875) 34.99%,
    rgba(17, 10, 28, 0.790945) 38.75%,
    rgba(156, 116, 140, 0.85) 103.33%,
    rgba(17, 10, 28, 0) 103.34%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  min-height: 90%;
}

.header-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  text-transform: capitalize;
  color: #110a1c;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.signup-form-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .header-title {
    font-size: 48px;
  }
}

/*[title="Email"]  {*/
/*  color: #CCC0CB !important;*/
/*}*/

/*[title="Password"] {*/
/*  color: blue !important;*/
/*}*/
