.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: contain;
  text-align: center;
  position: fixed;
  
  /* center horizontally on larger screens */
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  
  /* center horizontally on smaller screens */
  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }
}


.input-label-text-field-signup {
  /* width: max-content;
  height: max-content;
  position: center; */
  /*display: flex;*/
  /*flex-direction: column;*/
  /* margin-right:400px */
}

.input-label-signup {
  width: max-content;
  height: max-content;
  font-style: normal;
  font-weight: 350;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: #ccc0cb;
}

.input-field-signup {
  width: 426.61px;
  height: 38.13px;
  /* left: 881px; */
  top: 10%;
  background: #e7e7e7;
  border: #e7e7e7;
  color: #4a494d;
}

.signup-form-button {
  position: absolute;
  left: 38%;
  bottom: 40.19%;
}

.field-label-firstname {
  position: absolute;
  width: 21.81%;
  height: 2.38%;
  left: 25.56%;
  top: 14.88%;
  padding-bottom: 40px;
}

.field-label-lastname {
  position: absolute;
  width: 21.81%;
  height: 2.38%;
  left: 49.38%;
  top: 14.88%;
  padding-bottom: 40px;
}

.field-label-email {
  position: absolute;
  width: 45.63%;
  height: 2.38%;
  left: 25.56%;
  top: 19.88%;
  padding-top: 60px;
  padding-bottom: 40px;
}

.field-label-password {
  padding-top: 60px;
  padding-bottom: 40px;
  position: absolute;
  width: 45.63%;
  height: 2.38%;
  left: 25.56%;
  top: 26.69%;
}

.field-label-confirm-password {
  padding-top: 60px;
  padding-bottom: 40px;
  position: absolute;
  width: 45.63%;
  height: 2.38%;
  left: 25.56%;
  top: 33.50%;
}

.signup-form{
  /* position: absolute; */
  /* left: 32.5%; */
 /* top: 0;
  width: 150%;
  height: 150%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */


}

.ant-form-item-label label {
  font-size: 24px;
  color: #ccc0cb;
}

.page-footer {
  position: absolute;
  width: 100%;
  height: 114px;
  bottom: 0;
  background: #110a1c;
}

.footer-logo {
  position: absolute;
  right: 0;
  padding-right: 1%;
}

.header {
  position: absolute;
  width: 38.94%;
  height: 5.44%;
  left: 32.5%;
  top: 0;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  text-transform: capitalize;

  color: #110a1c;
}
/*[title="Email"]  {*/
/*  color: #CCC0CB !important;*/
/*}*/

/*[title="Password"] {*/
/*  color: blue !important;*/
/*}*/
