.row-rev {
  /*right: 190px;*/
  display: flex;
  flex-direction: row-reverse;
}

.upload-new-file-button {
  background: #9c748c;
  display: inline-flex;
  align-items: center;
  justify-content: normal;
  padding: 21px 42px;
  font-size: 19px;
}

.center {
  display: flex;
  justify-content: center;
}

.resized-logo {
  scale: 50%;
}

.side-tab {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  padding: 16px;
  top: 0;
  bottom: 0;
  background: #110a1c;
  display: flex;
  justify-content: center;
}

.menu {
  background: #110a1c;
  font-size: 17px;
  margin-left: 55px;
}

.content {
  padding: 24px;
}



.file-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  background: #f0f0f0;
  padding: 5px;
  min-height: calc(3 * (35px + 18px + 16px) + 10px); /* icon height + text height + grid gap + padding */
}


.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.file-link {
  font-size: 18px;
}